<div class="form-container mt-5">
    <h2>{{header}}</h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [ngModel]="user.name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" [ngModel]="user.email" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" [ngModel]="user.username" required>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <textarea class="form-control" id="address" name="address" cols="30" rows="3" name="address" [ngModel]="user.address" required></textarea>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text"  class="form-control" id="phone" name="phone" [ngModel]="user.phone" required>
        </div>
        <div class="mb-3">
            <label for="company" class="form-label">Company</label>
            <input type="text" class="form-control" id="company" name="company" [ngModel]="user.company" required>
        </div>
        <button type="submit" class="btn btn-primary btn-custom">Submit</button>
    </form>
</div>
