<style>
  body *{
    margin: 0;
    padding: 0;
  }

  .navlinks{
    padding: 25px 0;
  }

  .navlinks a{
    margin-right: 20px;
  }

  .card{
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
  }

  .container{
    max-width: 650px;
    margin: auto;
  }
</style>

  <div class="navlinks container">
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/users">Users</a>
    <a routerLink="/posts">Posts</a>
  </div>

  <router-outlet></router-outlet>