h2{
    margin:0 -15px;
}

.users-card{
    border: 1px solid silver;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.users-card p{
    margin: 5px 0;
}

.userlist{
    display: flex;
    justify-content: space-between;
}

.userlist button{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
}