<div class="modal addModal fade" id="exampleModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form #addForm="ngForm" (ngSubmit)="onSubmit(addForm.value)">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text"  [ngModel]="user.name" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" [ngModel]="user.email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text"  [ngModel]="user.username" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <textarea [ngModel]="user.address" class="form-control" id="address" name="address" cols="30" rows="3" name="address" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" [ngModel]="user.phone"  class="form-control" id="phone" name="phone" required>
                </div>
                <div class="mb-3">
                    <label for="company" class="form-label">Company</label>
                    <input type="text" [ngModel]="user.company" class="form-control" id="company" name="company" required>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="newUser()">Add user</button>
            </div>
        </form>
      </div>
    </div>
</div>

<div class="userlist container">
    <h2>{{ title }}</h2>
    <a [routerLink]="['add/0']">
        <button class="addUserBtn" mat-raised-button>Add</button>
    </a>
</div>

<ng-container *ngFor="let user of users">
    <div class="users-card container">
        
        <div>
            <a [routerLink]=user.id>
                <p>Name : {{user.name}}</p>
            </a>
            <p>Username : {{user.username}}<p>
            <p>Email : {{user.email}}</p>
        </div>
        <div>
            <button type="button" class="btn btn-light mx-2" (click)="deleteUser(user.username)">Delete</button>
            
                <a [routerLink]="['edit',user.username]">
                    <button type="button" class="btn btn-light">
                        Edit
                    </button>
                </a>
        </div>
    </div>
</ng-container>